$theme-color:#0c45a7;
$foot-color:#1a1a1a;
$tidi-heading:#04374c;
$book-butn:#3d77ea;
$book-butn-hover:#fff;
$selectbox-border:#dae0e5;
$text-grey-count:#babebf;
$background-hd-grey:#ecedf0;
$placeholder-text-color:#757575;
$sub-heading-color:#a1a5a7;
$divider:#e1e1e1;
$top-navbar-hover:#b3c4e3;
$foot-hover:#969696;
